.about-us-main-div{
    color: #e7e4e4;
}

.picture-about-us {
    width: 100%;
    height: auto;              
    box-shadow: 0px 5px 20px 10px rgb(161, 161, 161);
}

.title-about-us{
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 1rem;
    font-weight: bold;
    color: black;
    font-size: 43px;
}

.connect-text{
    position: absolute;
    left: 10rem;
    top: 30%;
    color: black;
    font-weight: bold;
    font-size: 19px;
}

.start-now-button{
    background: white;
    color: black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    border-radius: 999px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    padding: 0.6rem 6rem;
    width: fit-content;
}

.start-now-button-new{
    display: none;
}

.start-now-button:hover{
    transform: scale(1.1);
    box-shadow: #c3c3f2 0 10px 20px -10px;
}

.healty-lifestyle-text{
    position: absolute;
    right: 4.5rem;
    top: 35%;
    color: black;
    font-weight: bold;
    font-size: 19px;
}

.motivation-text{
    position: absolute;
    right: 3rem;
    top: 42%;
    color: black;
    font-size: 17px;
    width: 35rem;
    text-align: center;
}

.justify-text{
    text-align: justify;
}

@media (max-width: 1480px) {
    .connect-text{
        left: 5rem;
    }

    .healty-lifestyle-text{
        right: 2rem;
    }

    .motivation-text{
        right: 0.75rem;
    }
}

@media (max-width: 1380px) {
    .healty-lifestyle-text{
        right: 1.4rem;
    }

    .motivation-text{
        right: 0.2rem;
        top: 40%;
    }
}

@media (max-width: 1340px) {
    .title-about-us{
        font-size: 35px;
    }

    .healty-lifestyle-text{
        font-size: 17px;
    }

    .motivation-text{
        width: 25rem;
        font-size: 16px;
        right: 2rem;
    }
}

@media (max-width: 1150px) {
    .connect-text{
        font-size: 17px;
    }

    .start-now-button{
        padding: 0.6rem 4rem;
    }

    .healty-lifestyle-text{
        font-size: 16px;
    }

    .motivation-text{
        font-size: 14px;
    }
}

@media (max-width: 1050px) {
    .title-about-us{
        display: none;
    }

    .connect-text p, .healty-lifestyle-text, .motivation-text{
        display: none;
    }

    .connect-text{
        top: 42%;
        left: 32%;
    }

    .start-now-button-new{
        background: rgb(83, 94, 109);
        color: whitesmoke;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 2rem;
        border-radius: 10px;
        box-sizing: border-box;
        font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
        display: block;
        padding: 1rem 1.6rem;
        width: 90%;
    }

    .start-now-button{
        padding: 0.7rem 6rem;
    }
}