.create-acc-container{
    background: #374151;
    width: auto;
    min-height: 59rem;
}

.create-card{
    background-color: whitesmoke;
    border-radius: 1.3rem;
    height: 39rem;
    width: 50%;
    border: 2px white;
    position: absolute;
    top: 10%;
    left: 24%;
    padding: 2rem;
}

.logopic{
    width: 9rem;
}
.logopic img{
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}
form input{
    margin-bottom: 0.1rem;
}

.left-container{
    width: 18rem;
    margin-left: 0.5rem;
}

.right-container{
    margin-top: -1rem;
    width: 18rem;
}

div div form p a {
    text-decoration: none;
}

.signUp{
    color: #5E5DF0;
    text-decoration: none;
}

.buttons{
    margin-top: 1.1rem;
    display: flex;
    justify-content: flex-start;
}

.btn1{
    background-color: #5E5DF0;
    color: whitesmoke;
    border-radius: 0.5rem;
    padding: 0.5rem 1.4rem;
}
.btn1:hover{
    background-color: #4c4cae;
}

.close-btn{
    background-color: #737380;
    color: whitesmoke;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}
.close-btn:hover{
    background-color: #f04511;
}


form{
    display: inline;
}

.message{
    margin-top: 3rem;
}

div div p{
    margin-top: -1rem;
}

h2 img{
    display: inline;
    position: relative;
    top: -0.2rem;
    left: 0.2rem;
}
div div h2{
    margin-bottom: 3rem;
}

.link{
    position: absolute;
    top: 91%;
    left: 5%;
}

.picture{
    position: absolute;
    top: 4%;
    right: 2.5%;
}
.picture img{
    border-radius: 1rem;
    width: 18rem;
}

.btn-group{
    width: 18rem;
}

.form-container{
    display: flex;
    justify-content: space-between;
}

.link{
    margin-left: 0.8rem;
}


@media (max-width: 1318px) {
    .create-card{
        width: 50%;
        left: 25%;
    }

    .picture{
        width: 15rem;
    }

    .left-container{
        width: 15rem;
        margin-left: -1rem;
    }
    
    .right-container{
        margin-top: -1rem;
        width: 15rem;
    }

    .btn-group{
        width: 15rem;
    }

    .form-container{
        justify-content: space-around;
    }
}

@media (max-width: 1034px) {
    .create-card{
        width: 56%;
        left:20%;
    }

    .picture{
        width: 12rem;
    }

    .left-container{
        width: 14rem;
    }
    
    .right-container{
        width: 14rem;
    }

    .btn-group{
        width: 14rem;
    }
}

@media (max-width: 924px) {
    .create-card{
        width: 58%;
        left:17%;
    }

    .logopic{
        width: 7rem;
    }
    .logopic img{
        padding-left: 0.5rem;
    }

    .picture{
        width: 10rem;
    }

    .left-container{
        width: 13rem;
    }
    
    .right-container{
        width: 13rem;
    }

    .btn-group{
        width: 13rem;
    }
}

@media (max-width: 844px) {
    .create-card{
        width: 77%;
        left:19%;
    }

    .picture{
        display: none;
    }

    .left-container{
        width: 14em;
        margin-left: -2rem;
    }
    
    .right-container{
        width: 14rem;
    }

    .btn-group{
        width: 14rem;
    }


}

@media (max-width: 693px) {
    .create-card{
        width: 75%;
        left:22%;
        top: 4%;
        height: 57rem;
    }

    .left-container{
        width: 20rem;
        margin-left: 0.5rem;
    }
    
    .right-container{
        margin-top: -0.1rem;
        margin-left: 0.5rem;
        width: 20rem;
    }

    .btn-group{
        width: 20rem;
    }

    .form-container{
        flex-direction: column;
        justify-content: center;
    }

    .link{
        margin-top: 1rem;
    }
}

@media (max-width: 693px) {
    .logopic{
        width: 5.5rem;
        padding-left: 0.5rem;
    }

    .left-container{
        width: 19rem;
    }
    
    .right-container{
        width: 19rem;
    }

    .btn-group{
        width: 19rem;
    }

    .link{
        margin-left: 1.2rem;
    }
}