.dropdown-menu {
  background-color: rgb(135, 149, 170) !important;
}
.dropdown-menu:hover {
  background-color: rgb(135, 149, 170) !important;
}
.dropdown-menu li {
  background-color: rgb(135, 149, 170) !important;
  padding-top: 0.001rem;
  padding-bottom: 0.001rem;
}
li:hover {
  background-color: rgb(135, 149, 170) !important;
}

.left-div-main-page {
  width: 20%;
}
.middle-div-main-page {
  width: 50%;
}

.right-div-main-page {
  width: 20%;
}