.sign-out-button {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 0 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all 0.5s;
    position: relative;
    left: -18rem;
}
.sign-out-button:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: 0.2s;
}

.menu{
    background-color: rgb(83, 94, 109);
    border-bottom: 2px inset gray;
    border-radius: 0rem 0rem 2rem 2rem;
    padding-bottom: 1rem;
    padding-top: 3rem;
}
.menu a{
    text-decoration: none;
}

.line{
    background-color: #4f28b9;
}

@media(max-width: 657px){
    .sign-out-button{
        left: -15rem;
    }
}

@media(max-width: 564px){
    .sign-out-button{
        left: -12rem;
    }
}