.terms-of-service-header p{
    margin-top: 240px;
    margin-left: 150px;
    font-weight: bold;
    font-size: 60px;
    height: 10rem;
}

.left-div-terms{
    width: 40%;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.left-div-terms a{
    text-decoration: none;  
}

.small-div-inside{
    margin-top: 100px;
    font-size: 18px;
}

.small-div-inside p{
    padding: 10px;
}

.right-div-terms{
    width: 60%;
    text-align: justify;
    font-size: 18px;
}

@media (max-width: 1000px) {
    .terms-of-service-header p{
        margin-left: 90px;
        margin-top: 250px;
        font-size: 50px;
    }
}

@media (max-width: 850px) {
    .terms-of-service-header p{
        font-size: 40px;
    }
}

@media (max-width: 780px) {
    .terms-of-service-header img{
        width: 200px;
    }

    .terms-of-service-header p{
        font-size: 40px;
        margin-top: 170px;
        margin-left: 100px;
        height: 2rem;
    }
}

@media (max-width: 680px) {
    .terms-of-service-header img{
        width: 150px;
    }

    .terms-of-service-header p{
        font-size: 32px;
        margin-top: 130px;
        margin-left: 50px;
        height: 1rem;
    }
}